:root h1 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 6rem;
  color: #191919;
}
:root h2 {
  color: #191919;
  font-family: DM sans;
  font-weight: 700;
  font-size: 2.813rem;
}
:root h3 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
}
:root h4 {
  font-family: inter;
  font-weight: 500;
  font-size: 1.125rem;
  color: #F94D1C;
}
:root p {
  font-family: inter;
  font-weight: 400;
  font-size: 1rem;
  color: #5A5957;
}
:root button {
  font-family: inter;
  font-weight: 600;
  font-size: 1rem;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
:root ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
:root a {
  text-decoration: none;
  color: #191919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header, .section-one, .section-three {
  background-color: #F0EFE9;
}

.menu-bar-container {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.menu-holder {
  padding-right: 1rem;
}
.menu-holder button {
  border: none;
  background-color: #F0EFE9;
}
.menu-holder button i {
  font-size: 1.563rem;
}
.menu-holder button:hover i {
  font-size: calc(1.563rem + 20%);
}

.section-one {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.section-one .img-holder, .section-one .bg-line {
  display: none;
}
.section-one .text-holder {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.section-one .text-holder h1 {
  font-size: 3rem;
}
.section-one .btn-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}
.section-one .btn-holder button {
  width: 10rem;
}
.section-one .btn-holder #one {
  background-color: #F9D783;
  border: none;
}
.section-one .btn-holder #two {
  background-color: #F0EFE9;
}

.section-two {
  padding-top: 3rem;
}
.section-two .logo-container ul {
  display: flex;
  align-items: center;
}
.section-two .logo-container ul img {
  width: 100%;
}
.section-two .container-top {
  padding-top: 3rem;
  text-align: center;
}
.section-two .text-holder-top {
  padding-bottom: 3rem;
}
.section-two .text-holder-top h2 {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.section-two .text-holder-top button {
  width: 14rem;
  background-color: #F9D783;
  border: none;
}
.section-two .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0.3rem;
}
.section-two .grid-item p {
  text-align: center;
}
.section-two .container-bot {
  padding-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-two .img-holder {
  order: 2;
  width: 80%;
  position: relative;
}
.section-two .img-holder img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-two .img-text {
  width: 110%;
  height: 5rem;
  box-shadow: -3px 13px 17px 10px rgba(148, 148, 148, 0.13);
  background-color: #BEEBFF;
  position: absolute;
  bottom: 1rem;
  left: -0.9rem;
  border-radius: 5px;
}
.section-two .img-text h3 {
  font-size: 1rem;
}
.section-two .img-text span {
  font-size: 0.8rem;
  color: #F94D1C;
}
.section-two .img-text p {
  color: #191919;
  font-style: italic;
  font-size: 0.8rem;
}
.section-two .text-holder-bot {
  order: 1;
  padding-bottom: 2rem;
}
.section-two .text-holder-bot h2 {
  font-size: 2rem;
  padding-top: 0.5rem;
}
.section-two .text-holder-bot p {
  padding: 1rem;
}
.section-two .btn-holder {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
}
.section-two .btn-holder #btn-left {
  background-color: #191919;
  color: #FFFFFF;
  border: none;
  width: 10rem;
  height: 100%;
}
.section-two .btn-holder #btn-right {
  background-color: #FFFFFF;
  border: none;
}
.section-two .btn-holder #btn-right i {
  border: 1px solid #191919;
  padding: 1rem;
  font-size: 0.5rem;
  border-radius: 25px;
}
.section-two .btn-holder #btn-right span {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.section-three .bg-line {
  display: none;
}
.section-three .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.section-three .container h2 {
  font-size: 2rem;
}
.section-three .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: start;
}
.section-three .wrapper-item {
  background-color: #FFFFFF;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
}
.section-three .wrapper-item h3 {
  padding-top: 2rem;
}
.section-three .wrapper-item button {
  float: right;
  color: #FFFFFF;
  background-color: #191919;
  font-size: 1.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 25px;
  border: none;
}
.section-three .box-line {
  position: absolute;
  border-top: 3px solid #191919;
  height: 2rem;
  width: 2rem;
  padding: 0;
}
.section-three .wrapper-item:hover {
  background-color: #F9D783;
}
.section-three .wrapper-item:hover button {
  background-color: #FFFFFF;
  color: #191919;
}
.section-three .btn-holder {
  text-align: center;
}
.section-three .btn-holder button {
  width: 12rem;
  background-color: #F0EFE9;
}

.section-four {
  background-color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.section-four .img-holder {
  display: none;
}
.section-four .text-holder h2 {
  font-size: 2rem;
}
.section-four .text-holder ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.section-four .wrapper {
  display: flex;
  justify-content: center;
}
.section-four .wrapper i {
  font-size: 1.5rem;
  padding: 1rem;
  color: #5A5957;
  border: 1px solid #DAD9D3;
  border-radius: 50%;
}
.section-four .wrapper-item {
  width: 75%;
  justify-content: center;
  gap: 2rem;
}
.section-four .container-bot {
  padding-top: 2rem;
}
.section-four .container-bot h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.section-four .container-bot h4 {
  text-align: center;
}
.section-four .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  padding-top: 2rem;
}
.section-four .grid img {
  width: 100%;
}
.section-four .grid h3 {
  border-bottom: 2px solid #DAD9D3;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.section-four .grid button {
  border: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #FFFFFF;
}
.section-four .btn-holder {
  text-align: center;
  margin-top: 1rem;
}
.section-four .btn-holder button {
  width: 15rem;
  border: none;
  background-color: #191919;
  color: #FFFFFF;
}

.section-five {
  background-color: #F9D783;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.section-five .dot-holder {
  display: none;
}
.section-five .heading-wrap button {
  display: none;
}
.section-five .wrapper-top {
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.section-five .wrapper-top h3 {
  margin-top: 0.5rem;
}
.section-five .wrapper-top p {
  padding: 0;
}
.section-five .wrapper-top ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-five .wrapper-top img {
  width: 100%;
  border-radius: 5px;
}
.section-five .container-bot {
  background-color: #FFFFFF;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 2rem;
}
.section-five .text-holder {
  text-align: center;
}
.section-five .text-holder h2 {
  margin-top: 1rem;
  font-size: 2rem;
}
.section-five .wrapper-bot {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section-five .wrapper-bot p {
  margin-top: 0.5rem;
}
.section-five .wrapper-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.section-five .wrapper-item-text {
  order: 2;
}
.section-five .wrapper-item-img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 1;
}
.section-five .wrapper-item-img p {
  color: #F94D1C;
  margin-top: 0;
}
.section-five .btn-holder {
  text-align: center;
}
.section-five .btn-holder button {
  width: 10rem;
  background-color: #191919;
  color: #FFFFFF;
}

.section-six {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.section-six button, .section-six .dot-holder {
  display: none;
}
.section-six .heading-wrap {
  display: flex;
}
.section-six .wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}
.section-six .wrapper-item {
  position: relative;
}
.section-six .wrapper-item span {
  display: none;
}
.section-six .wrapper-item img {
  margin-bottom: 1rem;
  width: 100%;
}
.section-six .wrapper-item .item-box {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 3.5rem;
  width: 3rem;
  background-color: #F9D783;
  text-align: center;
  border-radius: 5px;
}

.section-seven {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #DAD9D3;
  text-align: center;
}
.section-seven h2 {
  font-size: 2rem;
}
.section-seven .bg-line {
  display: none;
}
.section-seven .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.section-seven .wrapper input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px;
  border: none;
  width: 18rem;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}
.section-seven .wrapper button {
  width: 10rem;
  background-color: #F9D783;
  border: none;
}

footer {
  padding-top: 2rem;
  background-color: #0E1021;
}
footer .bg-line {
  display: none;
}
footer .container p {
  color: #DAD9D3;
}
footer .container a {
  color: #DAD9D3;
}
footer .content-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  align-items: center;
}
footer .img-holder {
  width: 25%;
}
footer .img-holder p {
  margin-top: 1rem;
}
footer .wrapper {
  display: flex;
  gap: 6rem;
}
footer .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .wrapper h3 {
  color: #FFFFFF;
}
footer .bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .bottom-wrapper ul {
  display: flex;
  gap: 1rem;
}
footer .bottom-wrapper ul a {
  color: #FFFFFF;
}