:root h1 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 6rem;
  color: #191919;
}
:root h2 {
  color: #191919;
  font-family: DM sans;
  font-weight: 700;
  font-size: 2.813rem;
}
:root h3 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
}
:root h4 {
  font-family: inter;
  font-weight: 500;
  font-size: 1.125rem;
  color: #F94D1C;
}
:root p {
  font-family: inter;
  font-weight: 400;
  font-size: 1rem;
  color: #5A5957;
}
:root button {
  font-family: inter;
  font-weight: 600;
  font-size: 1rem;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
:root ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
:root a {
  text-decoration: none;
  color: #191919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header, .section-one, .section-three, .section-start {
  background-color: #F0EFE9;
}

.menu-holder {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-bar-container {
  margin-left: 3rem;
  width: 100%;
  color: #191919;
}
.menu-bar-container ul {
  display: flex;
  font-family: inter;
}

.menu-bar-top {
  display: flex;
  justify-content: space-between;
  font-size: 0.93rem;
  padding: 0.3rem;
  border-bottom: 1px solid #DAD9D3;
}
.menu-bar-top ul {
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}
.menu-bar-top ul #phone, .menu-bar-top #email {
  border-right: 1px solid #DAD9D3;
  padding-right: 2rem;
}
.menu-bar-top i {
  padding-right: 0.3rem;
  color: #5A5957;
}

.social-media-header {
  font-size: 1.1rem;
}
.social-media-header ul {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.social-media-header a {
  color: #191919;
}

.menu-bar-bot {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.menu-bar-bot ul {
  align-items: end;
  font-weight: 500;
  font-size: 1rem;
  gap: 2.5rem;
  padding-bottom: 0.4rem;
}
.menu-bar-bot a:active {
  text-decoration: underline;
}
.menu-bar-bot button {
  align-self: end;
  background-color: #F9D783;
  border: none;
  width: 5rem;
}

.section-one {
  padding-top: 5.625rem;
  position: relative;
}
.section-one .container {
  display: flex;
  position: relative;
  z-index: 1;
}
.section-one .text-holder h1 {
  padding-top: 3rem;
  line-height: 5.8rem;
}
.section-one .text-holder p {
  font-size: 1.375rem;
}
.section-one .btn-holder {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
.section-one .btn-holder button {
  width: 10rem;
}
.section-one .btn-holder #one {
  background-color: #F9D783;
  border: none;
}
.section-one .btn-holder #two {
  background-color: #F0EFE9;
}
.section-one .img-holder {
  margin: 0;
}
.section-one .img-holder img {
  height: 36rem;
}
.section-one .bg-line {
  position: absolute;
  bottom: 0;
}

.section-two {
  padding-top: 5.625rem;
}
.section-two .logo-container {
  padding-bottom: 5.625rem;
}
.section-two .logo-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-two .container-top {
  display: flex;
  border: solid 2px #DAD9D3;
  padding: 5.625rem;
}
.section-two .text-holder-top {
  width: 50%;
  padding-right: 3rem;
}
.section-two .text-holder-top h2 {
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.section-two .text-holder-top button {
  display: block;
  width: 90%;
  background-color: #F9D783;
  border: none;
}
.section-two .btn-holder-top {
  display: none;
}
.section-two .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1rem;
  width: 50%;
}
.section-two .grid-item {
  height: 10rem;
  padding: 1.2rem;
}
.section-two .grid-item i {
  color: #5A5957;
  font-size: 1.6rem;
}
.section-two .grid-item h3 {
  padding-top: 1rem;
}
.section-two .container-bot {
  display: flex;
  gap: 6rem;
  padding: 7.5rem;
}
.section-two .img-holder {
  position: relative;
}
.section-two .img-text {
  width: 22.5rem;
  height: 10rem;
  padding: 2rem;
  box-shadow: -3px 13px 17px 10px rgba(148, 148, 148, 0.13);
  background-color: #BEEBFF;
  position: absolute;
  bottom: 5rem;
  left: -3rem;
}
.section-two .img-text h3 {
  font-size: 1.25rem;
}
.section-two .img-text span {
  font-size: 1rem;
  color: #F94D1C;
}
.section-two .img-text p {
  color: #191919;
  font-style: italic;
  margin-top: 0.8rem;
}
.section-two .text-holder-bot p {
  padding-top: 2rem;
}
.section-two .btn-holder-bot {
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  align-items: center;
}
.section-two .btn-holder-bot #btn-left {
  background-color: #191919;
  color: #FFFFFF;
  border: none;
  width: 10rem;
}
.section-two .btn-holder-bot #btn-right {
  background-color: #FFFFFF;
  border: none;
}
.section-two .btn-holder-bot #btn-right i {
  border: 1px solid #191919;
  padding: 1rem;
  font-size: 0.6rem;
  border-radius: 25px;
}
.section-two .btn-holder-bot #btn-right span {
  margin-left: 0.5rem;
}

.section-three {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  position: relative;
}
.section-three .container h2 {
  padding-bottom: 2rem;
  padding-right: 50rem;
}
.section-three .content-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.section-three .wrapper-item {
  background-color: #FFFFFF;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2rem;
}
.section-three .wrapper-item h3 {
  padding-top: 2rem;
}
.section-three .wrapper-item button {
  float: right;
  color: #FFFFFF;
  background-color: #191919;
  font-size: 1.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 25px;
  border: none;
}
.section-three .box-line {
  position: absolute;
  border-top: 3px solid #191919;
  height: 2rem;
  width: 2rem;
  padding: 0;
}
.section-three .wrapper-item:hover {
  background-color: #F9D783;
}
.section-three .wrapper-item:hover button {
  background-color: #FFFFFF;
  color: #191919;
}
.section-three .btn-holder {
  text-align: center;
}
.section-three .btn-holder button {
  width: 12rem;
  background-color: #F0EFE9;
}
.section-three .bg-line {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-four {
  background-color: #FFFFFF;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  position: relative;
}
.section-four .container-top {
  display: flex;
  gap: 8rem;
  position: relative;
  z-index: 1;
}
.section-four .text-holder {
  width: 60%;
}
.section-four .text-holder h2 {
  padding-right: 2rem;
}
.section-four .text-holder ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-four .wrapper {
  display: flex;
}
.section-four .wrapper i {
  font-size: 1.5rem;
  padding: 1rem;
  color: #5A5957;
  border: 1px solid #DAD9D3;
  border-radius: 50%;
}
.section-four .wrapper-item {
  padding-left: 2rem;
}
.section-four .img-holder {
  text-align: end;
  width: 100%;
  padding-top: 1rem;
}
.section-four .img-holder img {
  width: 90%;
}
.section-four .bg-colour {
  background-color: #F0EFE9;
  height: 20%;
  width: 55%;
  position: absolute;
  top: 14%;
  right: 0;
  z-index: 0;
}
.section-four .container-bot {
  padding-top: 7.5rem;
}
.section-four .container-bot h2 {
  text-align: center;
  margin-top: 1rem;
}
.section-four .container-bot h4 {
  text-align: center;
}
.section-four .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  padding-top: 4rem;
}
.section-four .grid h3 {
  border-bottom: 2px solid #DAD9D3;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.section-four .grid button {
  border: none;
  background-color: #FFFFFF;
  float: right;
}
.section-four .btn-holder {
  padding-top: 4rem;
  text-align: center;
}
.section-four .btn-holder button {
  width: 15rem;
  border: none;
  background-color: #191919;
  color: #FFFFFF;
}

.section-five {
  background-color: #F9D783;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.section-five .heading-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-five .heading-wrap button {
  width: 10rem;
  background-color: #F9D783;
}
.section-five .wrapper-top {
  margin-top: 5.625rem;
  margin-bottom: 3rem;
}
.section-five .wrapper-top h3 {
  margin-top: 1.5rem;
}
.section-five .wrapper-top ul {
  display: flex;
  justify-content: space-around;
}
.section-five .dot-holder {
  text-align: center;
}
.section-five .container-bot {
  background-color: #FFFFFF;
  padding: 5.625rem;
  margin-top: 5.625rem;
}
.section-five .text-holder {
  text-align: center;
}
.section-five .text-holder h2 {
  margin-top: 1.5rem;
}
.section-five .wrapper-bot {
  display: flex;
  gap: 3rem;
  margin-top: 5.625rem;
  margin-bottom: 5.625rem;
}
.section-five .wrapper-bot p {
  margin-top: 1rem;
}
.section-five .wrapper-item-img {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.section-five .wrapper-item-img p {
  color: #F94D1C;
  margin-top: 0;
}
.section-five .btn-holder {
  text-align: center;
}
.section-five .btn-holder button {
  width: 10rem;
  background-color: #191919;
  color: #FFFFFF;
}

.section-six {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.section-six .heading-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-six .heading-wrap button {
  width: 10rem;
  background-color: #FFFFFF;
}
.section-six .wrapper {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.section-six .wrapper-item {
  position: relative;
}
.section-six .wrapper-item img {
  margin-bottom: 1rem;
}
.section-six .wrapper-item h3 {
  padding-right: 8rem;
}
.section-six .item-box {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 3.5rem;
  width: 3rem;
  padding: 0.2rem;
  background-color: #F9D783;
  text-align: center;
  border-radius: 5px;
}
.section-six .item-box b {
  font-size: 1.3rem;
}
.section-six .item-box p {
  line-height: 0.5rem;
}
.section-six .dot-holder {
  text-align: center;
  margin-top: 4rem;
}

.section-seven {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: #DAD9D3;
  position: relative;
}
.section-seven .container {
  display: flex;
}
.section-seven .container form {
  display: flex;
  gap: 5rem;
  width: 100%;
  justify-content: space-between;
}
.section-seven .container h2 {
  width: 100%;
}
.section-seven .container ul {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0;
}
.section-seven .container li #email {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 20rem;
}
.section-seven .container li #button {
  background-color: #F9D783;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 10rem;
}
.section-seven .container input {
  border-radius: 20px;
  border: none;
  padding: 1rem;
}
.section-seven .bg-line {
  position: absolute;
  bottom: 20%;
  right: 0%;
}

footer {
  padding-top: 5.625rem;
  background-color: #0E1021;
}
footer .container-fluid {
  position: relative;
}
footer .container, footer .content-container {
  padding-bottom: 5.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container p, footer .content-container p {
  color: #DAD9D3;
}
footer .container a, footer .content-container a {
  color: #DAD9D3;
}
footer .img-holder {
  width: 25%;
}
footer .img-holder p {
  margin-top: 1rem;
}
footer .wrapper {
  display: flex;
  gap: 6rem;
}
footer .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .wrapper h3 {
  color: #FFFFFF;
}
footer .bg-line {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .top-border {
  border-top: 1px solid #5A5957;
  position: relative;
}
footer .bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .bottom-wrapper ul {
  display: flex;
  gap: 1rem;
}
footer .bottom-wrapper ul a {
  color: #FFFFFF;
}

.section-start {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  position: relative;
}
.section-start .text-holder {
  text-align: center;
}
.section-start .text-holder h1 {
  font-size: 56px;
}
.section-start .text-holder ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.section-start .text-holder p {
  font-weight: 500;
}
.section-start .bg-line {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scalex(-1);
}

.section-forms {
  padding-top: 5.625rem;
}
.section-forms .wrapper-contact {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.section-forms .item-wrapper {
  display: flex;
  gap: 1rem;
  border: 1px solid #5A5957;
  padding: 2rem;
  width: 100%;
  justify-content: center;
}
.section-forms .item-wrapper i {
  font-size: 1.375rem;
}
.section-forms .forms-holder {
  margin-top: 5.625rem;
  margin-bottom: 5.625rem;
  background-color: #F0EFE9;
  padding: 5rem;
  text-align: center;
}
.section-forms .forms-holder ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}
.section-forms .forms-holder li {
  width: 100%;
}
.section-forms .forms-holder li #message {
  height: 10rem;
}
.section-forms .forms-holder li #button {
  background-color: #F9D783;
}
.section-forms .forms-holder input, .section-forms .forms-holder textarea {
  width: 90%;
  border-radius: 20px;
  border: none;
  padding: 1rem;
}