*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: #F0EFE9;
}
header .container {
  display: flex;
  align-items: center;
}
header .menu-bar {
  margin-left: 3rem;
  width: 100%;
  color: #191919;
}
header .menu-bar ul {
  display: flex;
  font-family: inter;
  list-style-type: none;
  padding: 0;
  height: 100%;
}
header .top-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.93rem;
  border-bottom: 1px solid #DAD9D3;
}
header .contact-info ul {
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}
header .contact-info ul #phone, header .contact-info #email {
  border-right: 1px solid #DAD9D3;
  padding-right: 2rem;
}
header .contact-info i {
  padding-right: 0.3rem;
  color: #5A5957;
}
header .social-media {
  font-size: 1.1rem;
}
header .social-media ul {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
header .social-media a {
  color: #191919;
}
header .bot-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
header .bot-container ul {
  align-items: end;
  font-weight: 500;
  font-size: 1rem;
  gap: 2.5rem;
}
header .bot-container a {
  text-decoration: none;
  color: #191919;
}
header .bot-container a:active {
  text-decoration: underline;
}
header .bot-container button {
  align-self: end;
  background-color: #F0D082;
  border-radius: 20px;
  border: none;
  width: 5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

main .sect-one {
  background-color: #F0EFE9;
}
main .sect-one .container {
  padding-top: 3rem;
  display: flex;
}
main .sect-one .text-container h1 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 6rem;
  color: #191919;
  padding-top: 3rem;
  line-height: 5.8rem;
}
main .sect-one .text-container p {
  font-size: 1.25rem;
  color: #5A5957;
}
main .sect-one .text-container .btn-container {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
main .sect-one .text-container .btn-container button {
  color: #191919;
  border-radius: 20px;
  border: none;
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
main .sect-one .text-container .btn-container #one {
  background-color: #F0D082;
}
main .sect-one .text-container .btn-container #two {
  background-color: #F0EFE9;
  border: 1px solid #191919;
}
main .sect-one figure {
  margin: 0;
}
main .sect-one figure img {
  height: 36rem;
}
main .sect-two .container {
  margin-top: 4rem;
}
main .sect-two .container .logo-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
main .sect-two .container-mid {
  display: flex;
  border: solid 2px #DAD9D3;
  padding: 8rem;
}
main .sect-two .container-mid .text-container {
  width: 50%;
  padding-right: 3rem;
}
main .sect-two .container-mid .text-container p {
  color: #F94D1C;
}
main .sect-two .container-mid .text-container h2 {
  color: #191919;
  font-family: DM sans;
  font-weight: 700;
  font-size: 2.813rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
main .sect-two .container-mid .text-container button {
  display: block;
  width: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #F0D082;
  border: none;
  border-radius: 20px;
  font-family: inter;
  font-weight: 600;
  font-size: 1rem;
}
main .sect-two .container-mid .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 50%;
}
main .sect-two .container-mid .grid-container .grid-item {
  border-radius: 4px;
  height: 10rem;
  padding: 1.2rem;
}
main .sect-two .container-mid .grid-container .grid-item i {
  color: #5A5957;
  font-size: 1.6rem;
}
main .sect-two .container-mid .grid-container .grid-item h3 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
  padding-top: 1rem;
}
main .sect-two .container-mid .grid-container .grid-item p {
  font-family: inter;
  font-weight: 400;
  font-size: 1rem;
  color: #5A5957;
}
main .sect-two .container-mid-low {
  display: flex;
  padding: 6rem;
  gap: 10rem;
}
main .sect-two .container-mid-low h2 {
  color: #191919;
  font-family: DM sans;
  font-weight: 700;
  font-size: 2.813rem;
  padding-bottom: 2rem;
}
main .sect-two .container-mid-low p {
  font-family: inter;
  font-weight: 400;
  font-size: 1rem;
  color: #5A5957;
  padding-bottom: 4.5rem;
}
main .sect-three {
  background-color: #F0EFE9;
}
main .sect-three .container {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
main .sect-three .container h2 {
  color: #191919;
  font-family: DM sans;
  font-weight: 700;
  font-size: 2.813rem;
  padding-bottom: 2rem;
  padding-right: 50rem;
}
main .sect-three .container .card-container {
  display: flex;
  gap: 3rem;
  padding-bottom: 3rem;
}
main .sect-three .container .card-container div {
  background-color: #FFFFFF;
  padding: 1rem;
}
main .sect-three .container .card-container div h3 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
  padding-top: 1rem;
}
main .sect-three .container .card-container div p {
  font-family: inter;
  font-weight: 400;
  font-size: 1rem;
  color: #5A5957;
  padding-bottom: 4.5rem;
}
main .sect-three .container .card-container div button {
  float: right;
}
main .sect-four {
  background-color: #FFFFFF;
}
main .sect-four .container {
  padding-top: 6rem;
}
main .sect-four .container .content-container {
  display: flex;
  gap: 3rem;
}
main .sect-four .container .content-container .content-left {
  width: 50%;
}
main .sect-four .container .content-container .content-left h2 {
  color: #191919;
  font-family: DM sans;
  font-weight: 700;
  font-size: 2.813rem;
  padding-right: 12rem;
}
main .sect-four .container .content-container .content-left ul {
  list-style: none;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .sect-four .container .content-container .content-left ul li .wrapper {
  display: flex;
}
main .sect-four .container .content-container .content-left ul li .wrapper i {
  font-size: 1.5rem;
  padding: 1rem;
  color: #5A5957;
  border: 1px solid #DAD9D3;
  border-radius: 50%;
}
main .sect-four .container .content-container .content-left ul li .wrapper .text-holder {
  padding-left: 2rem;
}
main .sect-four .container .content-container .content-left ul li .wrapper .text-holder h3 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
}
main .sect-four .container .content-container .content-left ul li .wrapper .text-holder p {
  font-family: inter;
  font-weight: 400;
  font-size: 1rem;
  color: #5A5957;
}
main .sect-four .container figure img {
  width: 90%;
}
main .sect-four .part-two {
  padding-top: 5rem;
}
main .sect-four .part-two p {
  text-align: center;
}
main .sect-four .part-two h2 {
  text-align: center;
}
main .sect-four .part-two .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
main .sect-four .part-two .grid h3 {
  font-family: DM sans;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
}
main .sect-four .part-two .btn-holder {
  text-align: center;
}
main .sect-five {
  background-color: #F0D082;
}
main .sect-five .container {
  padding-bottom: 6rem;
}
main .sect-five .container .content-container-top .heading-wrap {
  display: flex;
  justify-content: space-between;
}
main .sect-five .container .content-container-top .wrapper-team ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
main .sect-five .container .content-container-bot {
  background-color: #FFFFFF;
}
main .sect-five .container .content-container-bot .text-holder {
  text-align: center;
}
main .sect-five .container .content-container-bot .wrapper-client {
  display: flex;
  gap: 3rem;
}
main .sect-five .container .content-container-bot .wrapper-item {
  display: flex;
}