@use "../abstracts/variables" as var;

h1 {
    font-family: var.$ff-DMsans;
    font-weight: var.$fw-bold;
    font-size: var.$fs-96px;
    color: var.$clr-secondary-300;
}

h2 {
    @extend h1;
    font-size: var.$fs-45px;
}

h3 {
    @extend h1;
    font-size: var.$fs-22px;
    line-height: 1.8rem;
}

p {
    font-family: var.$ff-inter;
    font-weight: var.$fw-regular;
    font-size: var.$fs-16px;
    color: var.$clr-secondary-200;
    line-height: 1.8rem;
}

.orange {
    font-family: var.$ff-inter;
    font-weight: var.$fw-medium;
    font-size: var.$fs-18px;
    color: var.$clr-orange;
    margin-bottom: 1rem;
}

header {

    a {
        @extend p;
        color: var.$clr-secondary-300;
    }
}

footer {

    a, p {
        @extend p;
        color: var.$clr-secondary-100;
    }
}


@media screen and (max-width: var.$ss-mob) {

    h1 {
        font-size: var.$fs-mob-h1;
    }

    h2 {
        font-size: var.$fs-mob-h2;
    }

    h3 {
        font-size: var.$fs-mob-h3;
    }

    p {
        font-size: var.$fs-mob-p;
    }

}

