@use "../abstracts/variables" as var;


.section-one {
    position: relative;
    background-color: var.$clr-primary-200;

    @media screen and (min-width: var.$ss-desk) {
        padding-bottom: 0rem;
    }

    .container {
        display: flex;
        position: relative;
        z-index: 1;

        @media screen and (max-width: var.$ss-mob) {
            display: block;
        }
    }

    .text-holder {

        @media screen and (min-width: var.$ss-desk) {
            margin-top: 4rem;

            h1 {
                line-height: 5.8rem;
            }
        
            p {
                font-size: var.$fs-22px;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            
            h1 {
                padding-top: 1rem;
                line-height: normal;
            }

            p {
                font-size: var.$fs-mob-p;
            }
        }
    }

    .btn-holder {
        display: flex;
        gap: 3rem;
        margin-top: 2rem;

        button {
            width: 10rem;
        }

        @media screen and (max-width: var.$ss-mob) {
            display: flex;
            justify-content: space-evenly;
            margin-top: 2rem;
            gap: 1rem;
        }
    }

    .img-holder {
        width: 100%;

        img {
            width: 100%;
        }

        @media screen and (max-width: var.$ss-mob) {
            display: none;
        }
    }

    .bg-line {
        position: absolute;
        bottom: 0;

        @media screen and (max-width: var.$ss-mob) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

.section-two {
    background-color: var.$clr-primary-100;

    .logo-container {
        padding-bottom: var.$pad-90px;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (max-width: var.$ss-mob) {
            padding-bottom: 0;
           
            ul {
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
                
                img {
                    width: 100%;
                }
            } 
        }
    }

    .container-top {
        display: flex;
        border: solid 2px var.$clr-secondary-100;
        padding: var.$pad-90px;

        @media screen and (max-width: var.$ss-mob) {
            display: block;
            border: none;
            padding: 0;
            padding-top: var.$pad-mob;
        }
    }

    .text-holder-top{
       
        @media screen and (min-width: var.$ss-desk) {
            width: 50%;
            padding-right: 6rem;

            h2 {
                padding-right: 1rem;
                padding-bottom: 2rem;
            }

            button {
                display: block;
                width: 90%;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            padding-bottom: 2rem;
                
            h2 {
                padding-top: 0.5rem;
            }
    
            button {
                display: none;
            }
        }
    }

    .btn-holder-top {
        display: none;
    }

    @media screen and (max-width: var.$ss-mob) {

        .btn-holder-top {
            margin-top: 2rem;
            margin-bottom: 2rem;
    
            button {
                width: 14rem;
            }
        }
    }

    .grid {
        display: grid;
        
        @media screen and (min-width: var.$ss-desk) {
            grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
            gap: 1rem;
            width: 50%;
        
        }
    
        @media screen and (max-width: var.$ss-mob) {
            grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }

    .grid-item {

        i {
            color: var.$clr-secondary-200;
            font-size: 1.6rem;
        }

        p {
            padding-top: 0.5rem;
        }

        @media screen and (min-width: var.$ss-desk) {
            padding: 1rem;

            h3 {
                padding-top: 1rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {

            h3 {
                display: inline;
            }

            i {
                float: left;
                display: block;
                width: 2.5rem;
            }
        }
    }

    .container-bot {
        display: flex;

        @media screen and (min-width: var.$ss-desk) {
            gap: 6rem;
            padding: var.$pad-120px;
        }
    
        @media screen and (max-width: var.$ss-mob) {
            padding-top: 2rem;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid var.$clr-secondary-100;
        }
    
    }

    .img-holder {
        position: relative;
    }

    @media screen and (max-width: var.$ss-mob) {
        .img-holder {
            order: 2;
            width: 80%;
    
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    .img-text {
        box-shadow: -3px 13px 17px 10px rgba(148,148,148,0.13);
        background-color: #BEEBFF;
        position: absolute;

        p {
            color: var.$clr-secondary-300;
            font-style: italic;
        }

        @media screen and (min-width: var.$ss-desk) {
            width: 22.5rem;
            height: 10rem;
            padding: 1.5rem;
            bottom: 5rem;
            left: -3rem;
    
            h3 {
                font-size: 1.25rem;
            }
    
            p {
                margin-top: 0.8rem;
            }
        }
    
        @media screen and (max-width: var.$ss-mob) {
            width: 110%;
            height: 30%;
            bottom: 2rem;
            left: -1rem;
            border-radius: 5px;
            padding: 0.5rem;

            span {
                font-size: 1rem;
            }

            @media screen and (max-width: 24em) {
                
                h3 {
                    font-size: var.$fs-18px;
                }

                span {
                    font-size: var.$fs-16px;
                }

                p {
                    font-size: 0.8rem;
                }
            }

        }
    }

    .text-holder-bot {
        @media screen and (min-width: var.$ss-desk) {
            p {
                padding-top: 1.5rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            order: 1;
            padding-bottom: 2rem;
        
            h2 {
                font-size: 2rem;
                padding-top: 0.5rem;
            }
        
            p {
                padding-top: 2rem;
            }

            .orange {
                padding-top: 0;
            }
        }
    }
    
    .btn-holder-bot {
        display: flex;
        align-items: center;

        button {
            width: 10rem;
        }
        
        #btn-right {
            background-color: var.$clr-primary-100;
            border: none;
            
            i {
                border: 1px solid var.$clr-secondary-300;
                padding: 1rem;
                font-size: 0.5rem;
                border-radius: 25px;
            }

            span {
                margin-left: 0.5rem;
            }
        }

        @media screen and (min-width: var.$ss-desk) {
            padding-top: 5rem;
            gap: 3rem;
        }

        @media screen and (max-width: var.$ss-mob) {
            justify-content: space-evenly;
            padding-top: 2rem;
    
            span {
                font-size: 0.8rem;
            }

            .button-black {
                width: 9rem;
            }
            
        }
    }
}

.section-three {
    background-color: var.$clr-primary-200;
    position: relative; 

    .container {
        @media screen and (min-width: var.$ss-desk) {
            h2 {
                padding-bottom: 2rem;
                width: 35%;
            }
        }
    }

    .content-wrapper {
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem;

        @media screen and (max-width: var.$ss-mob) {
            flex-wrap: wrap;
            text-align: start;
            gap: 0.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;
            
            @media screen and (min-width: 34.375em) {
                width: 100%;
            }
        }
    }

    .wrapper-item {
        background-color: var.$clr-primary-100;
        position: relative;
        width: 100%;
        padding: 1.5rem;
        padding-top: 2.5rem;

        h3 {
            padding-top: 2rem;
        }

        button {
            float: right;
            font-size: 1.3rem;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            border-radius: 25px;
            display: block;
        }

        @media screen and (min-width: var.$ss-desk) {
            
            p {
                padding-top: 1rem;
                padding-bottom: 3rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            justify-self: center;
            border-radius: 5px;
            
            p {
                padding-top: 0.5rem;
                padding-bottom: 1rem;
            }
    
            @media screen and (min-width: 34.375em) {
                width: 49%;    
            }
        }
    }

    .box-line {
        position: absolute;
        border-top: 3px solid var.$clr-secondary-300;
        height: 2rem;
        width: 2rem;
        padding: 0;
    }

    .wrapper-item:hover {
        background-color: var.$clr-yellow;

        button {
            background-color: var.$clr-primary-100;
            color: var.$clr-secondary-300;
        }
    }

    .btn-holder {
        text-align: center;

        button {
            width: 12rem;
        }
    }

    .bg-line {
        position: absolute;
        bottom: 0;
        right: 0;

        @media screen and (max-width: var.$ss-mob) {
            width: 100vw;
            
        }
    }
}
    
.section-four {
    background-color: var.$clr-primary-100;
    position: relative;

    .container-top {
        @media screen and (min-width: var.$ss-desk) {
            display: flex;
            gap: 8rem;
            position: relative;
            z-index: 1;
        }

        @media screen and (max-width: var.$ss-mob) {
            padding-bottom: 2rem;
            
        }
    }

    .text-holder {

        ul {
            padding-top: 2rem;
            display: flex;
        }

        @media screen and (min-width: var.$ss-desk) {
            width: 60%;
        
            h2 {
                padding-right: 2rem;
            }

            ul {
                flex-direction: column;
                gap: 3rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            ul {
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
            }
        }
    }

    .wrapper {
        display: flex;

        i {
            font-size: 1.5rem;
            padding: 1rem;
            color: var.$clr-secondary-200;
            border: 1px solid var.$clr-secondary-100;
            border-radius: 50%;
        }

        @media screen and (max-width: var.$ss-mob) {
            justify-content: center;
        }
    }

    .wrapper-item {
        padding-left: 2rem;

        @media screen and (max-width: var.$ss-mob) {
            width: 75%;
            justify-content: center;
            padding-left: 1rem;
            text-align: start;
        }
    }
 

    .img-holder {
        text-align: end;
        width: 100%;
        padding-top:1rem;

        img {
            width: 90%;
        }

        @media screen and (max-width: var.$ss-mob) {
            display: none;
        }
    }

    .bg-colour {
        background-color: var.$clr-primary-200;
        height: 20%;
        width: 55%;
        position: absolute;
        top: 14%;
        right: 0;
        z-index: 0;

        @media screen and (max-width: var.$ss-mob) {
            display: none;
        }
    }

    .container-bot {

        h2 {
            margin-top: 1rem;
        }

        @media screen and (min-width: var.$ss-desk) {
            padding-top: var.$pad-120px;

            h2 {
                text-align: center;
            }
    
            p {
                text-align: center;
            }
        }
    
        @media screen and (max-width: var.$ss-mob) {
            padding-top: 2rem;
            border-top: 1px solid var.$clr-secondary-100;
        }
    }

    .grid {
        display: grid;

        h3 {
            border-bottom: 2px solid var.$clr-secondary-100;
            padding-bottom: 0.5rem;
        }

        button {
            float: right;
        }

        img {
            width: 100%;
        }

        @media screen and (min-width: var.$ss-desk) {
            grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
            gap: 2rem;
            padding-top: 4rem;
        
            h3 {
                padding-top: 1.5rem;
            }
        }
    
        @media screen and (max-width: var.$ss-mob) {
            grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
            gap: 1rem;
            padding-top: 2rem;
        
            img {
                border-radius: 5px;
            }
        
            h3 {
                padding-top: 0.5rem;
                }
        
            button {
                margin-bottom: 1rem;
                font-size: 0.8rem;
        
            }
        }
    }

    @keyframes zoom-in{
        0% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(1.05, 1.05);
        }
    }

    .grid-img-holder {
        overflow: hidden;
    }

    .grid-item:hover {
        border-radius: 5px;

        h3{
            border-bottom: 2px solid var.$clr-yellow;
        }

        img {
            animation: zoom-in 300ms ease-in;
            animation-fill-mode: forwards;
        }
    }
        
    .btn-holder {
        margin-top: 4rem;
        text-align: center;

        button {
            width: 15rem;
        }

        @media screen and (max-width: var.$ss-mob) {
            margin-top: 1rem;
    }
    }
}

.section-five {
    background-color: var.$clr-yellow;

    .heading-wrap {
        @media screen and (min-width: var.$ss-desk) {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            button {
                width: 10rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            button {
                display: none;
            }
        }
    }

    .wrapper-top {
        @media screen and (min-width: var.$ss-desk) {
            margin-top: var.$mar-90px;
            margin-bottom: 3rem;
    
            h3 {
                margin-top: 1.5rem;
            }
    
            ul {
                display: flex;
                justify-content: space-around;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            margin-bottom: 3rem;
            margin-top: 2rem;
    
            ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                text-align: center;

                @media screen and (min-width: 21.875em) {
                    justify-content: space-evenly;
                }
            }
    
            li {
                width: 100%;
                @media screen and (min-width: 21.875em) {
                    width: 45%;
                }
            }
    
            h3 {
                margin-top: 0.5rem;
            }
    
            p {
                padding: 0;
            }
    
            img {
                border-radius: 5px;
                width: 80%;
                @media screen and (min-width: 21.875em) {
                    width: 100%;
                    
                }
            }   
        }
    }

    .btn-holder-top {
        @media screen and (min-width: var.$ss-desk) {
            display: none;
        }

        @media screen and (max-width: var.$ss-mob) {
            text-align: center;

            button {
                width: 10rem;
            }
        }
    }


    .dot-holder {
        text-align: center;

        @media screen and (max-width: var.$ss-mob) {
            display: none;
        }
    }

    .container-bot {
        @media screen and (min-width: var.$ss-desk) {
            background-color: var.$clr-primary-100;
            padding: var.$pad-90px;
            margin-top: var.$mar-90px;
        }

        @media screen and (max-width: var.$ss-mob) {
            background-color: var.$clr-primary-100;
            margin-top: 2rem;
            border-radius: 5px;
            padding: 2rem;
        }
    }

    .text-holder {

        @media screen and (min-width: var.$ss-desk) {
            text-align: center;
            h2 {
                margin-top: 1rem;
            }
        }
    }

    .wrapper-bot {
        @media screen and (min-width: var.$ss-desk) {
            display: flex;
            gap: 3rem;
            margin-top: var.$mar-90px;
            margin-bottom: var.$mar-90px;
    
            p {
                margin-top: 1rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
    
            p {
                margin-top: 0.5rem;
            }
        }
    }

    .wrapper-item-img {
        @media screen and (min-width: var.$ss-desk) {
            display: flex;
            margin-top: 2rem;
            gap: 1rem;
            align-items: center;
    
            p {
                margin-top: 0;
                font-size: var.$fs-16px;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            display: flex;
            align-items: center;
            gap: 1rem;
            order: 1;
            margin-bottom: 1rem;
    
            p {
                font-size: 0.8rem;
                margin-top: 0;
            }
        }
    }

    .wrapper-item-bot {
        
        @media screen and (max-width: var.$ss-mob) {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            padding-top: 2rem;
            border-top: solid 1px var.$clr-yellow;
        }
    }

    #item-three {
        @media screen and (max-width: var.$ss-mob) {

            border-bottom: solid 1px var.$clr-yellow;
            padding-bottom: 2rem;
        }
    }

    .wrapper-item-text {

        @media screen and (min-width: var.$ss-desk) {
            p {
                padding-right: 1rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            order: 2;
        }
    }

    .btn-holder-bot {
        text-align: center;

        button {
            width: 10rem;
        }
    }
}

.section-six {
    background-color: var.$clr-primary-100;

    @media screen and (max-width: var.$ss-mob) {
        button, .dot-holder {
            display: none;
        }
    }

    .heading-wrap {
        display: flex; 

        @media screen and (min-width: var.$ss-desk) {
            justify-content: space-between;
            align-items: center;
    
            button {
                width: 10rem;
            }
        }
    }

    .wrapper {
        display: flex;
        margin-top: 2rem;
        gap: 1rem;
    
        @media screen and (max-width: var.$ss-mob) {
            flex-wrap: wrap;
            gap: 2rem;
        }
    }

    .wrapper-item {
        position: relative;
        
        @media screen and (min-width: var.$ss-desk) {
            h3 {
                padding-right: 6rem;
                padding-top: 1rem;
            }
        }

        @media screen and (max-width: var.$ss-mob) {
            span {
                display: none;
            }
    
            img {
                width: 100%;
                border-radius: 5px;
            }

            h3 {
                padding-top: 1rem;
            }
        }
    }

    .wrapper-img {
        overflow: hidden;
    }

    .wrapper-item:hover {
        
        img {
            animation: zoom-in 300ms ease-in;
            animation-fill-mode: forwards;
        }

        .item-box {
            background-color: black;
            color: white;

            p {
                color: white;
            }
        }

    }

    .item-box {

        position: absolute;
        top: 5%;
        left: 5%;

        height: 3.5rem;
        width: 3rem;
        padding: 0.2rem;
        background-color: var.$clr-yellow;
        text-align: center;

        b {
            font-size: 1.3rem;
        }

        p {
            line-height: 0.5rem;
        }

        @media screen and (max-width: var.$ss-mob) {
            border-radius: 5px;
        }
    }

    .dot-holder {
        text-align: center;
        margin-top: 4rem;
    }
}

.section-seven {
    background-color: var.$clr-secondary-100;
    position: relative;

    .container {
        @media screen and (min-width: var.$ss-desk) {
            display: flex;

            form {
                display: flex;
                gap: 5rem;
                width: 100%;
                justify-content: space-between;
            }
    
            h2 {
                width: 100%
            }
    
            ul {
                margin-top: 2rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;
                width: 100%;
                margin: 0;
            }
    
            li {
    
                #email {
                    width: 100%;
                    width: 20rem;
                    padding: 0.5rem;
    
                }
    
                .button-yellow {
                    width: 10rem;
                }
    
            }
    
            input {
                border-radius: 20px;
            }
    
        }

        @media screen and (max-width: var.$ss-mob) {
            position: relative;
            z-index: 1;

            ul {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
            }

            li {

                #email {
                    width: 70%;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border-radius: 20px;

                }

                .button-yellow {
                    width: 10rem;
                }

            }
        }
    }

    .bg-line {
        position: absolute;
        bottom: 20%;
        right: 0%;
    }
}
